* {
  box-sizing: inherit;
}
.wrapper {
  border: solid;
}

header {
  display: flex;
  background-image: url("../media/ribbon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.logo-text {
  font-family: "Great Vibes", "Cookie", "Roboto Slab", serif;
  padding-right: 10px;
  color: burlywood;
}

.nav {
  display: flex;
  background-color: black;
  color: aliceblue;
}

ul {
  display: flex;
}

li {
  list-style: none;
}

.rings {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  justify-content: center;

  padding: 10px;
  background-color: #ede1a8;
}

.rings--three {
  /* grid-template-columns: repeat(3, 200px); */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.ring {
  text-align: center;
  background: #fff;
}

.ring img {
  max-width: 100%;
}
.ring--text {
  background: burlywood;
}

img > p {
  align-items: center;
}
.divider {
  background-color: white;
}
.footer {
  height: 50px;
  background-color: black;
  color: aliceblue;
}
.slider-holder {
  display: none;
}

/* media queries */
@media (min-width: 960px) {
  /*
essential styles:
these make the slideshow work
*/
  /* .logo-text {
    font-size: 20px;
  } */
  .rings {
    grid-template-columns: repeat(2, 250px);
  }
  .rings--three {
    grid-template-columns: repeat(3, 200px);
  }
}
